body{
    background: steelblue;		
    font-family: Arial, Verdana;
}

.tooltip_elemento {
    position: relative;
}

h2{
    color: #FFF;
    margin-top: 100px;
}

a{
    color: #CCC
}

.tooltip {
    display: none;
    position: absolute;
    width: 200px;    
    padding: 10px;
    margin: 0 0 12px 0;    
    z-index: 100;
    bottom: 100%;
    background: #FDD017;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
}

.tooltip:after {
    content: "";
    position: absolute;
    bottom: -14px;
    z-index: 100;
    border: 0 solid #FDD017;
    border-bottom: 14px solid transparent;
    border-left-width: 10px;
    width: 50%;
    left: 50%;
}

.tooltip:before {
    content: "";
    position: absolute;
    border: 0 solid #FDD017;
    bottom: -14px;
    z-index: 100;
    border-right-width: 10px;
    border-bottom: 14px solid transparent;
    width: 50%;
    right: 50%;
}